body {
  #navbar {
    height: 56px;
    width: 100%;
    background: gold;
    color: #121;
    padding: 4px 16px 0;
    h1, h6 {
      font-family: Arial sans-serif;
      margin: 0;
    }
    h1 {
      font-size: 24px;
    }
    h6 {
      font-size: 12px;
    }
  }
}

.row {
  .col-md-4 {
    display: inline-block;
    width: 25%;
    @media all and(max-width: 960px) {
      width: 100%;
    }

  }
}

.card {
  width: 100%;
  max-width: 380px;
  img {
    width: 100%;
  }
}